/* Styles of my dialog */
#selectdialog .mat-dialog-title h3 {
  color: white;
  margin: 0;
}
#selectdialog .mat-dialog-title {
  background-color: #6abbd6;
  padding: 24px;
  margin: 0 0 1px;
  position: relative;
}
#selectdialog .mat-dialog-content {
  padding: 0;
  margin: 0;
}
#selectdialog .mat-list-item .mat-button {
  padding: 0 32px;
  width: 100%;
  text-align: left;
  height: 100%;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1em;
  color: #55637f;
}
#selectdialog .mat-list-item-content{
  padding: 0;
}
#selectdialog .mat-dialog-title .mat-icon-button {
  color: white;
  position: absolute;
  right: 5px;
  top: 5px;
}

