<div id="table-wrap">
  <div class="tableHeaders" id="totales-header">
    {{title}}
  </div>
  <div id="faux-totales-header"></div>
  <table id="totales-table" cellpadding="20" cellspacing="0">
    <tbody>
      <tr *ngFor="let pub of totalesData">
        <td [ngClass]="{'feriado': pub.letter == 'F', 'suscripcion': pub.letter == 'S', 'estado': pub.letter == 'F' || pub.letter == 'S' }">
          <span>{{pub.letter}}</span>
        </td>
        <td class="publicacion"><b>{{pub.cantidad}}</b> {{pub.publicacion}}</td>
      </tr>
    </tbody>
  </table>
</div>
