<div id="{{componentName}}">
  <div id="headerContent">
    <h2 [innerHtml]="edificioActual.direccion"></h2><button>TOTALES</button>
  </div>
  <div id="content">
    <app-detalle-edificio [edificioActual]="edificioActual" *ngIf="viewDetalle"></app-detalle-edificio>
    <div *ngIf="!viewDetalle"></div>
  </div>
  <div id="footerContent">
    <button mat-button class="main-button" id="btn-anterior" (click)="prevEdificio()">ANTERIOR</button>
    <button mat-button class="main-button" id="btn-siguiente" (click)="nextEdificio()" ><b>SIGUIENTE</b> EDIFICIO</button>
    <button mat-button class="main-button" id="btn-edificios" (click)="showEdificioSelect()"><img src="./assets/images/edificioIcon.png"></button>
  </div>
</div>

