<div id="{{componentName}}">
  <div>
    <img [src]="'../assets/images/loginHeader.png'" style="width: 100%;">
  </div>
  <div id="content">
    <div id="welcome-text">
      <h1>¡Buenas!</h1>
      <h3>¿LISTO PARA HACER ENTREGAS?</h3>
    </div>
    <form class="example-form">
      <mat-form-field>
        <input matInput placeholder="Usuario">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </mat-form-field>
      <mat-checkbox color="primary">¿Recordar <b>datos</b>?</mat-checkbox>
    </form>
  </div>
</div>

