/*Header left*/
#home #headerContent {
  height: 40vh;
  display: flex;
}
#home #homeLeft{
  height: 100%;
}

/*End header left*/

/*Header right*/
#home #headerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
#home #headerRight h1, #home #headerRight h3 {
  text-align: left;
}
#home #headerRight h1 {
  font-size: 2.2em;
}

#home #headerRight .divider {
  width: 100%;
  height: 1px;
  background-color: #8da0c8;
  margin: 15px 0;
}
#home #headerRight h3 {
  margin-top: 15px;
  font-size: .85em;
}

/*End header right*/

/*Content*/
#home {
  display: flex;
  flex-direction: column;
}
#home #content {
  margin: 0 7.5%;
  height: 60vh;
  position: relative;
}

#home #content .main-button {
  color: white;
  height: 12vh;
  text-align: right;
  overflow-x: hidden;
  left: 7.5%;
  width: 85%;
  bottom: 3%;
  position: fixed;
  -webkit-transition: .6s ease-in-out;
  -moz-transition: .6s ease-in-out;
  -o-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

#home #content .main-button i {
  float: left;
  font-size: 1.4em;
}
#home #content .main-button div {
  -webkit-transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}
#home #content .main-button div.anim {
  transform: translate(45%,0);
}
#home #content .main-button.anim {
  box-shadow: none;
}

#home #content p {
  font-family: "Lato";
  font-weight: 400;
  color: #55637f;
  font-size: 1.2em;
  text-align: center;
}
  /*End content*/
  /*Repartidores select*/
#home #repartidorSelectButton .mat-button-wrapper {
  text-align: left;
  float: left;
  font-family: "Lato";
  white-space: pre-line;
  width: 100%;
  color: #55637f;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home #repartidorSelectButton .mat-button-wrapper i {
  float: right;
  margin-right: 15px;
  margin-top: 2px;
  font-size: 1.5em;
}
#home #repartidorSelectButton {
  width: 90%;
  margin-left: 5%;
  min-height: 12vh;
}
/*End repartidores select*/

/*Totales Repartidor button*/
#home #totalesRepartidorButton {
  width: 90%;
  margin: 15px 5%;
  border: 1px solid #6abbd6;
  min-height: 10vh;
}
#home #totalesRepartidorButton span {
  white-space: pre-line;
}
#home #totalesRepartidorButton .mat-button-wrapper h3 {
  letter-spacing: 3px;
  font-size: 1.2em;
}
#home #totalesRepartidorButton .mat-button-wrapper h3 b {
  letter-spacing: normal;
}
#home #totalesRepartidorButton .mat-button-wrapper h3 b.line:before {
  content:"__________________";
  letter-spacing: -2px;
}
/*End totales repartidor button*/
