<div id="{{componentName}}" class="presentation-view">
  <div id="headerImage">
    <img id="loginHeader" [src]="'./assets/images/loginHeader.png'">
    <img class="lss-logo" [src]="'./assets/images/LSS_Logo.png'">
  </div>
  <div id="content">
    <div id="welcome-text">
      <h1>¡Buenas!</h1>
      <h3>¿LISTO PARA HACER ENTREGAS?</h3>
    </div>
    <form (ngSubmit)="loginAction()">
      <mat-form-field [ngClass]="classValidationUser()">
        <input matInput placeholder="Usuario" [(ngModel)]="user" name="user">
        <img [src]="'./assets/images/user' + userImage + '.png'">
      </mat-form-field>

      <mat-form-field [ngClass]="classValidationPassword()">
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password">
        <img [src]="'./assets/images/lock' + lockImage + '.png'">
      </mat-form-field>
      <mat-checkbox color="primary" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}">¿Recordar <b>datos</b>?</mat-checkbox>
      <button type="submit" class="main-button" mat-button>ENTRAR</button>
    </form>
  </div>
</div>

