<div id="{{componentName}}">
  <div id="headerImage">
    <img id="loginHeader" [src]="'../assets/images/loginHeader.png'">
    <img class="lss-logo" [src]="'../assets/images/LSS_Logo.png'">
  </div>
  <div id="content">
    <div id="welcome-text">
      <h1>¡Buenas!</h1>
      <h3>¿LISTO PARA HACER ENTREGAS?</h3>
    </div>
    <form (ngSubmit)="loginAction()">
      <mat-form-field [ngClass]="classValidationUser()">
        <input matInput placeholder="Usuario" [(ngModel)]="user" name="user">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </mat-form-field>

      <mat-form-field [ngClass]="classValidationPassword()">
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </mat-form-field>
      <mat-checkbox color="primary">¿Recordar <b>datos</b>?</mat-checkbox>
      <button type="submit" class="main-button" mat-button>ENTRAR</button>
    </form>
  </div>
</div>

