
/*Login general*/
#login #welcome-text {
  margin-bottom: 15px;
}

/*End login general*/
/* User and pass inputs */
#login mat-form-field {
  width: 100%;
  font-size: 1em;
  font-family: "Lato";
  color: #55637f;
}
#login mat-form-field i {
  position: absolute;
  right: 10px;
  top: 10px;
}

#login mat-form-field i.fa-lock {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#login mat-form-field label {
  left: 3%;
}

#login input {
  margin-left: 10px;
}
#login mat-form-field.error .mat-input-underline {
  background-color: #ae1d1a;
}
#login mat-form-field.error input {
  color: #ae1d1a;
}
#login mat-form-field.error i {
  -webkit-text-stroke-color: #ae1d1a;
}

#login mat-form-field.has-success .mat-input-underline {
  background-color: #64bc17;
}
#login mat-form-field.has-success input, #login mat-form-field.has-success i {
  color: #64bc17;
}

/* End User and pass inputs */

/* Remember pass */
#login mat-checkbox{
  display: flex;
  float: right;
  font-family: "Lato";
  color: #929bb0;
}
#login mat-checkbox .mat-checkbox-inner-container {
  order: 1;
  margin-left: 15px;
}
/*End remember pass*/

/*Entrar button*/
#login button {
  width: 100%;
  height: 62px;
  margin-top: 30px;
  color: white;
}
/*End entrar button*/

