/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/lato-font/css/lato-font.min.css";
@import "../node_modules/typeface-montserrat/index.css";
@import "../node_modules/typeface-oswald/index.css";

body {
  margin: 0;
}

h1 {
  font-size: 3em;
  margin: 0 0 10px 0;
  text-align: center;
  color: #3b6397;
  font-family: "Montserrat";
  font-weight: 700;
}
h3 {
  text-align: center;
  font-size: 1em;
  font-family: "Lato";
  font-weight: 400;
  color: #6abbd6;
  margin: 0;
}

h2 {
  text-align: left;
  font-size: 1.3em;
  font-family: "Montserrat";
  font-weight: 400;
  color: #3b6397;
  margin: 0;
}

.main-button {
  font-size: 1.4em;
  font-family: "Lato";
  font-weight: 700;
  background-color: #64bc17;
  box-shadow: 0px 0px 21px #64bc17;
  color: white;
}
.main-button span {
  color:white;
}


/* Affecting all dialogs :'( */
.cdk-overlay-container .cdk-overlay-pane {
  width: 96vw;
  max-width: none !important;
}
mat-dialog-container {
  padding: 0!important;
  justify-content: center;
  display: flex!important;
}
mat-dialog-container > * {
  width: 100%;
}
.cdk-overlay-backdrop { transition: none; }
/* End Affecting all dialogs :'( */

/*Presentation view*/

/*Login header - Final reparto header*/
.presentation-view #headerImage{
  width: 100%;
}
.presentation-view #headerImage #loginHeader{
  width: 100%;
}
.presentation-view #headerImage .lss-logo {
  position: absolute;
  bottom: -13%;
  margin-left: 40%;
  width: 20%;
}
.presentation-view #headerImage {
  position: relative;
}
/*End Login header - Final reparto header*/

/*General*/
.presentation-view #content {
  width: 85%;
  padding: 7.5%;
}
/*End general*/
/*End Presentation view*/
